.table-charts{
    width:100%;
    font-size:14px;
    text-align: left;
    vertical-align: middle;
}
.table-charts th{
    width: 32%;
    height: 40px;
    line-height: 40px;
    background: #d2d4d6cc;
    text-align: left;
    color: #333;
}
.table-charts .check{
    width: 10%;
}
.table-charts .title-cont{
    width: 54%;
}
.table-charts .type-cont{
   text-align: center;
}
.table-charts td{
    position: relative;
    height: 35px;
    line-height: 35px;
    color:#666;
}
.table-charts .link-box{
    color:#336690;
    text-decoration: underline;
    cursor: pointer;
}
.checkbox{
    position: absolute;
    left: 47px;
    top: 8px;
}
.reset-left{
    left: 32px;
}
.odd-bg{
    background: #fcfcfc;
}
.page-list{
    margin:20px 0;
}
.page-btn{
    cursor: pointer;
    font-size:12px;
    color:#666;
    text-decoration: underline;
}
.page-btn:hover{
    color:#336690;
}
.mr{
    margin-right:10px !important;
}
.ml{
    margin-left:10px !important;
}
.blue-color{
    color:#336690;
}
.font-14{
    font-size:14px;
}
.bold{
    font-weight: bold;
}