/*edit by cyt*/
@charset "utf-8";
/******************公共样式******************/
.hide{display: none}
.show{display: block}
/*标签样式*/
label{font-weight: 500;margin-bottom:0px;vertical-align: -webkit-baseline-middle;}
/***404页面**/
/*.img-404{  position: absolute;  top: 50%;  left: 50%;  margin-left: -299px;  margin-top: -124px;}*/
/***500页面**/
.img-500,.img-404{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -213px;
    margin-top: -180px;
    width: 35%;
}
.div-tools-500{ position: absolute;top:74%;width: 100%;text-align: center;}
.div-tools-500 button{ border: none; background-color: #5fc3ff;  color: #fff;  padding:7px 15px;  border-radius: 4px;  cursor: pointer;}
.div-tools-500 button:active,.div-tools-500 button:hover,.div-tools-500 button:focus{  background-color: #0ca3fd;  outline: none;  }

/***********盒子模式加栅格模式************/
.box.span12 {width:99.5%;margin-right: 0.5%;  }
.box.span11 {width:91.16666667%;margin-right: 0.5%;  }
.box.span10 {  width:82.83333333%;margin-right: 0.5%;  }
.box.span9 {  width:74.5%; margin-right: 0.5%; }
.box.span8 {  width:66.16666667%; margin-right: 0.5%;  }
.box.span7 {  width:57.83333333%; margin-right: 0.5%;  }
.box.span6 {  width:49.5%;margin-right: 0.5%;  }
.box.span5 {  width:41.16666667%;margin-right: 0.5%;  }
.box.span4 {  width:32.83333333%;margin-right: 0.5%;  }
.box.span3 {  width:24.5%;margin-right: 0.5%;  }
.box.span2-5 {  width:20.33333333%;margin-right: 0.5%;  }
.box.span2 {  width:16.16666667%;margin-right: 0.5%;  }
.box.span1-5 {  width:11.83333333%;margin-right: 0.5%;  }
/*.box.span1-3{width:10.83333333%;margin-right: 0.5%;}*/
.box.span1 {  width:7.83333333%; margin-right: 0.5%;}
/*盒子box样式--2--start*/
.box {  padding:10px;position: relative;  background: #ffffff;  /*border: 1px solid #dcdcdc;*/  margin-bottom:10px; /* width: 100%; */ box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);  }
.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after,.wrapper-content:before,.wrapper-content:after { content: " ";  display: table;  }
.box-header:after,
.box-body:after,
.box-footer:after,.wrapper-content:after{  clear: both;  }
.box-header {  color: #444;  display: block;  padding: 10px;  position: relative;  }
.box-header.with-border {/*border-bottom: 1px solid #efecec;/*margin: 0 15px;*/}
.box-header .box-title {font-weight:bold;display: inline-block;font-size: 15px;margin: 0;line-height: 1;color: #4d4d4d;position: relative;}
.box-header .box-title.dec_1 {  border-left: 3px solid #0e8cd9;  padding-left:6px;  }
.box-body {  padding:6px 15px 15px;  background: #fff;}
/*盒子box样式--2--end*/


/*盒子样式3--start*/
.widget-body:before,.widget-body:after,.widget-main:after,.widget-main:before{content: " ";  display: table; }
.widget-body:after,.widget-main:after{  clear: both;  }
/*设置边框的box*/
.widget-box{padding: 0; -webkit-box-shadow: none; box-shadow: none; border-bottom: 1px solid #CCC; }
/*去掉边框*/
.widget-box.transparent {border: 0; box-shadow: none; }
.widget-header:before, .widget-header:after {content: ""; display: table; line-height: 0; }
.widget-header:after {clear: right; }
.widget-header {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    min-height: 38px;
    background: #f7f7f7;
    /*background-image: -webkit-gradient(linear,left 0,left 100%,from(#fff),to(#eee)); */
    /*background-image: -webkit-linear-gradient(top,#fff,0%,#eee,100%); */
    /*background-image: -moz-linear-gradient(top,#fff 0,#eee 100%); */
    /*background-image: linear-gradient(to bottom,#fff 0,#eee 100%); */
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffeeeeee',GradientType=0);
    color: #669fc7;
    border: 1px solid #CCC; /* border-bottom: 1px solid #DDD; */
    padding-left: 12px;
}
.widget-box.transparent>.widget-header{
    background: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border: 0;
    border-bottom: 1px solid #dce8f1;
    color: #4383b4;
    padding-left: 3px;
    margin-left:17px;
}
/*行内显示*/
.widget-header>.widget-caption, .widget-header>:first-child {line-height: 36px; padding: 0; margin: 0; display: inline; }
.widget-toolbar {display: inline-block; padding: 0 10px; line-height: 37px; float: right; position: relative; }
.widget-toolbar>a {font-size: 14px; margin: 0 1px; display: inline-block; padding: 0; line-height: 24px; }
.widget-body {border: 1px solid #CCC; border-top: 0; background-color: #FFF; }
.widget-box.transparent .widget-body {border: 0; background-color: transparent; }

.widget-main {padding: 12px; }
.widget-main.no-padding {padding: 0; }
/*表格左右不显示边框*/
.widget-main.no-padding .table-bordered th:first-child, .widget-main.padding-0 .table-bordered th:first-child, .widget-main.no-padding .table-bordered td:first-child, .widget-main.padding-0 .table-bordered td:first-child {border-left-width: 0; }
.transparent .widget-main .table-bordered>thead>tr>th:last-child, .widget-main.no-padding .table-bordered>thead>tr>th:last-child, .transparent .widget-main .table-bordered>tbody>tr>td:last-child, .widget-main.no-padding .table-bordered>tbody>tr>td:last-child, .transparent .widget-main .table-bordered>tfoot>tr>td:last-child, .widget-main.no-padding .table-bordered>tfoot>tr>td:last-child {border-right-width: 0!important; }
/*盒子样式3--end*/


/*通用间距样式*/
.no-padding {padding: 0!important; }
.no-padding-bottom {padding-bottom: 0!important; }
.nopt {padding-top: 0!important; }
.nopl {padding-left: 0!important; }
.nopr {padding-right: 0!important; }
.p0{padding:0;  }
.mrt10{margin-top:10px!important;}
.mt15{  margin-top:15px!important;  }
.mt40{margin-top:40px!important; }
.mt30{  margin-top:30px!important;  }
.mt20{  margin-top:20px!important;  }
.mb10{  margin-bottom:10px!important;  }
.mb15{  margin-bottom:15px!important;  }
.mb20{ margin-bottom:20px!important;  }
.mr-bt-10{margin-bottom:10px;}
.mr0{  margin-right:0!important;  }
.mr5{  margin-right:5px!important;  }
.mr15{  margin-right:15px!important;  }
.mr30{  margin-right:30px!important;  }
.mr25{ margin-right:25px!important;}
.mrlr-30{margin:0 30px;}
.mrlr-40{margin:0 40px;}
.mrlr-50{margin:0 50px;}
.mrlr-60{margin:0 60px;}
.mrlr-80{margin:0 80px;}
.mlr-76{
    margin-right:76px!important;
    margin-left:76px!important;
}
.mlr-72{
    margin-right:72px!important;
    margin-left:72px!important;
}
.mlr-68{
    margin-right:68px!important;
    margin-left:68px!important;
}
.pt50{  padding-top:48px;  }
.pr10{padding-right: 10px !important;}
.padr5{padding-right: 5px !important;}
.ml_20{  margin-left:20px;  }
.mrl-10{margin-left:10px; }
.mr-lf-5{margin-left: 5px;}
.mlr5{  margin-left:5px!important;  margin-right:5px!important;  }
.nmb{margin-bottom: 0px !important;}
.noborder{border:none !important;box-shadow:none !important;}
.nopadding{ padding: 0px !important;}
.plr20{padding:0px 20px;}
.mrl20{margin: 0px 20px!important;}
.mlr20{
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.mlr80{
    margin-left: 80px !important;
    margin-right: 80px !important;
}
.mh{min-height: 560px !important;}
.no-padding-top{padding-top:0 !important}
.noplr{padding-left:0px !important;padding-right:0px !important;}
.m1020{margin: 10px 20px!important;}
.border-r{border-right:1px solid #ddd !important;}
.border-l{border-left:1px solid #ddd !important;}
.pad-l-r-50{padding-left:50px !important;padding-right:50px !important;}
.pad-l-r-60{padding-left:60px !important;padding-right:60px !important;}
/*图片大小重定义*/
.block-img{width:80%; height: auto; }
.block-img-100{width:100%; height: auto; }
.block-img-70{width:70%; height: auto; }
.block-img-120{width:120%; }
.block-img-44{width:60%; }

/*分割线样式*/
.hr{display: block; height: 0; overflow: hidden; font-size: 0; border-top: 1px solid #e3e3e3; margin: 12px 0; }
.hr-32, .hr32 {margin: 32px 0; }
/*虚线*/
.hr.dotted, .hr-dotted {border-top-style: dotted; }

/**小插件-分组**/
/*.widget-box{margin-bottom: 10px;  border: solid #e7eaec;  border-width: 4px 1px 1px 1px;background-color: #fff;  }*/
.widget-box .widget-header{  border-bottom: 1px solid #e7eaec;  line-height: 30px;  height: 30px;  padding: 0px 15px;  }
.widget-box .widget-header:before,.widget-box .widget-header:after{  content: '';  display: table;  clear: both;  }
.widget-box .widget-header .widget-title{
    display: inline-block;
    color: #666;
    font-size: 14px;
    border-bottom: 2px solid #0e8cd9;
    padding: 0 4px;
}
.widget-box .widget-header .widget-toolbar{  float: right;  }
.widget-box .widget-header .widget-toolbar a{  display: inline-block;  margin-left: 5px;  }
.widget-box .widget-body{  padding: 20px;  }

/***选项卡***/
.tabs-container{  background-color: #fff;  }
.tabs-container .tabs-header ul.tabs-top{  list-style-type: none;  padding: 0px;  margin: 0px;  line-height: 32px;  height: 35px;  border-bottom:1px solid #ccc;  font-size:14px;  font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;/*  margin-right: 20px; */ }
.tabs-container .tabs-header ul.tabs-top li{  font-weight:bold;display: inline-block;  padding: 0px 15px;  cursor: pointer;  border-top: 3px solid transparent;  border-bottom: 1px solid transparent;  }
.tabs-container .tabs-header ul.tabs-top li.on{  border-top: 3px solid #3598dc;  border-bottom: 1px solid #fff;  border-right: 1px solid #C5D0DC;  border-left: 1px solid #C5D0DC;  background-color: #FFF;  }
.tabs-container .tabs-panels{padding: 10px 0px;  }
.tabs-container .tabs-panels .panels{  display: none;  font-size:14px;  font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;  }

/*文字基本颜色--详见color.css*/
.green {color: #69aa46!important; }
.red {color: #e51c23!important; }
.orange {color: #ff892a!important; }
.blue {color: #478fca!important; }
.light-green{color:#b0d877!important;}
.light-orange{color:#fcac6f!important;}
.dark {color: #333!important; }
.white {color: #fff!important; }
.light-red {color: #f77!important; }
.light-blue {color: #93cbf9!important; }
.orange2 {color: #feb902!important; }
.purple {color: #a069c3!important; }
.pink {color: #c6699f!important; }
.pink2 {color: #d6487e!important; }
.brown {color: #a52a2a!important; }
.grey {color: #777!important; }
.light-grey {color: #bbb!important; }

/*整体框架风格重写*/
/*表单头*/
.form-head-block{
    padding: 10px 0;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 20px;
    font-size: 16px;
    color: #333;
}
.form-head-block .title-name{
    border-left: 3px solid #0e8cd9;
    padding-left: 15px;
    height: 20px;
    margin-bottom: 0;
    margin-left: 10px;
}

/*input--style*/
.input-no-corner input{
    border-radius: 2 !important;
}

/*表单重写间距*/
.form-group .control-label{
    margin-right:-14px;
    margin-left: 14px;
}
/*树样式间距重写*/
.ztree li span.button.ico_close,.ztree li span.button.ico_open{
    margin-right: 4px;
}
.zTreeDemoBackground{
    overflow: auto;
}
/*框架按钮样式重写*/
.btn {
    font-size: 13px;
    line-height: 1.5;
    border-radius: 0 !important;
}

/**/
.wrapper-content-left{
    overflow-y: hidden;
}
/*字号*/
.ft-s13{
    font-size: 13px !important;
}

/*-----搜索框，表格数据搜索样式*/
.form-search{position: relative;
    margin-bottom: 30px;
    /*padding-right: 150px; */
}
.form-search .form-group{  width: 362px;  display: inline-block;  margin: 0px 5px 10px 0px;  vertical-align: middle;  height: 27px;  line-height: 27px;  }
.form-search .form-group label{  display: inline-block;  width: 132px;  vertical-align: middle;  text-align: right;  margin-right: 4px;  }
.form-search.big-form-search .form-group label{  width: 132px;  }
.form-search .form-group label b{  color: red;  margin-right: 4px;  }
.form-search .form-group .form-control{  display: inline-block;  width: 220px;  line-height: 25px;  box-sizing: border-box;  height: 25px;  }
.form-search.search1 .form-group .form-control{width: 220px;}
.form-search .form-btn {
    margin-left:140px;
}
.form-search .btn{
    padding:4px 12px;
}
.form-search .btn-tools{margin-left: 73px;width: auto;}
.form-search.big-form-search .btn-tools{margin-left: 117px;}
.form-search.big-form-search .set-posit{
    margin-left: 217px;
}















