<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>图表统计</title>
  <!--基础样式-->
  <th:block th:include="common/pub_head :: default"></th:block>
  <th:block th:include="common/pub_head :: base-css"></th:block>
  <!--主题色-->
  <th:block th:include="common/pub_head :: theme-blue"></th:block>

  <link type="text/css" rel="stylesheet" th:href="@{/assets/font/log/iconfont.css}"/>
  <style>
    .fixed-table-container {
      border: none;
    }

    .bor_view {
      height: 400px
    }

    .echart_view {
      width: 570px;
      height: 430px;
      padding: 8px;
      display: none;
    }
  </style>
</head>

<body>
<div class="wrapper-content">
  <div class="box">
    <div class="box-header with-border">
      <div class="box-title dec_1 theme-border-left">图表统计<i class='iconfont slice33'></i></div>
    </div>
    <div class="box-body">
      <div class="input-group fl col-xs-7" style="margin-top:0px; positon:relative">
        <input type="text" id="echartNameQuery" class="form-control" placeholder="请输入字段名"/>
        <span class="input-group-btn">
           <button class="btn btn-info btn-search" onclick="$('#table').bootstrapTable('refresh')">
             <i class="iconfont icon-sousuo"></i>查找</button>
        </span>
      </div>
      <!-- 表格 -->
      <div class="fr mt15 mb10">
        <button type="button" class="btn btn-primary" data-toggle="modal" onclick="addVisualizeEchart()" id="add_btn">
          <span class="glyphicon glyphicon-plus"></span>
          添加
        </button>
        <button type="button" class="btn btn-danger" onclick="batchDelVisualizeEchart()">
          <span class="glyphicon glyphicon-remove"></span>
          删除
        </button>
      </div>
      <table id="table"></table>
    </div>
  </div>
</div>

<!-- 模态框 -->
<div class="modal fade" id="Modal_view" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">添加图表</h4>
      </div>
      <div class="modal-body" style="min-height: 300px;">
        <form role="form" class="form-horizontal row" id="list_form">
          <input type="hidden" name="id" id="id"/>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-3 control-label">
                图表名称:</label>
              <div class="col-sm-9">
                <input type="text" class="form-control input-sm" id="echartName" name="echartName" placeholder="请输入名字"/>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-3 control-label">
                图表类型:</label>
              <div class="col-sm-9">
                <select class="form-control input-sm" id="type" name="type" onchange="changeType()">
                  <option value="1" selected>折线图</option>
                  <option value="2">柱状图</option>
                  <option value="3">饼状图</option>
                </select>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="row view_show">
            <div class="col-sm-4 bor_view">
              <div class="row">
                <h4>项目名称：<span id="multiIndexSpan">日志系统</span></h4>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">
                  项目名称:</label>
                <div class="col-sm-9">
                  <select class="form-control input-sm" onchange="changeMultiIndex('')" name="multiIndex"
                          id="multiIndex">
                    <option value="">请选择项目...</option>
                    <th:block th:each="multiIndexBean : ${multiIndexList}">
                      <option th:value="${multiIndexBean.multiIndex}"
                              th:text="${multiIndexBean.multiIndex}"></option>
                    </th:block>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">
                  汇聚列名:</label>
                <div class="col-sm-9">
                  <select class="form-control input-sm" id="field" name="field">
                    <option value="">请选择...</option>
                    <th:block th:each="field : ${fieldList}">
                      <option th:value="${field}"
                              th:text="${field}"></option>
                    </th:block>
                  </select>
                </div>
              </div>
              <div class="form-group" style="display: none">
                <label class="col-sm-3 control-label">
                  查询时间:</label>
                <div class="col-sm-9">
                  <select class="form-control input-sm" name="lastDay" id="lastDay">
                    <option value="">请选择...</option>
                    <option value="1">最近一天</option>
                    <option value="3">最近三天</option>
                    <option value="7">最近七天</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">
                  汇聚方式:</label>
                <div class="col-sm-9">
                  <select class="form-control input-sm" id="converMethod" name="converMethod">
                    <option value="1">count</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-9"></div>
                <div class="col-sm-2 col-sm-pull-1">
                  <button type="button" class="btn btn-primary" onclick="generatEchart()">生成</button>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="bor_view">
                <div id="main_line" class="echart_view show" data-type="1"></div>
                <div id="main_bar" class="echart_view" data-type="2"></div>
                <div id="main_pie" class="echart_view" data-type="3"></div>
              </div>
            </div>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary modal-btn" id="saveBtn" onclick="saveVisualizeEchart()">保存
          </button>
          <button type="button" class="btn btn-primary modal-btn" id="modifyBtn" onclick="modifyVisualizeEchart()">修改
          </button>
        </div>
      </div>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>
<!-- 详情弹出框 -->
<div class="info_content" id="info_content" style="display: none">
  <div class="row">
    <div class="col-sm-6">
      <h5>图表名称：<span id="infoEchartName"></span></h5>
    </div>
    <div class="col-sm-6">
      <h5>项目名称：<span id="infoMultiIndex"></span></h5>
    </div>
  </div>
  <div class="row">
    <div calss="info_main">
      <div id="info_main_bar" style="width: 500px;height: 500px;margin:auto"></div>
    </div>
  </div>
</div>
<th:block th:include="common/pub_head :: echart"></th:block>
<script type="text/javascript" th:src="@{/assets/js/echart.config.js}"></script>
<script>
  /*<![CDATA[*/
  var $table = $('#table');
  $table.bootstrapTable({
    classes: 'table table-hover table-condensed table-bordered',
    contentType: "application/x-www-form-urlencoded",
    height: getHeight(),
    url: path + "/echartManage/pageVisualizeEchart",
    striped: true, //隔行变色
    pagination: true,
    singleSelect: false,
    queryParamsType: '',
    queryParams: queryParams,
    sidePagination: "server",//表格分页的位置
    pageNumber: 1,
    pageSize: 10,
    pageList: [10, 20, 50, 100],
    onLoadSuccess: function () {

    },
    columns: [{
      checkbox: true,
      width: 50
    }, {
      field: 'id',
      width: 100,
      title: '编号',
      halign: 'center',
      align: 'center',
      valign: 'middle'
    }, {
      field: 'echartName',
      title: '图表名称',
      halign: 'center',
      align: 'center',
      valign: 'middle',
      sortable: true
    }, {
      width: 130,
      field: 'field',
      title: '汇聚列名',
      halign: 'center',
      align: 'center',
      valign: 'middle',
      sortable: true
    }, {
      field: 'relIndex',
      title: '关联ES索引',
      halign: 'center',
      align: 'center',
      valign: 'middle',
      sortable: true
    }, {
      width: 100,
      field: 'typePo',
      title: '图表类型',
      halign: 'center',
      align: 'center',
      valign: 'middle',
      sortable: true
    }, {
      width: 300,
      field: 'operate',
      title: '操作',
      halign: 'center',
      align: 'center',
      valign: 'middle',
      formatter: operateFormatter
    }
    ]
  });

  function queryParams(params) {
    var sortName = (params.sortName) ? params.sortName.replace(/([A-Z])/g, "_$1").toLowerCase() : "";
    if (sortName == "type_po") {
      sortName = "type";
    }
    var paramMap = {
      "pageSize": params.pageSize,
      "pn": params.pageNumber,
      "echartName": $('#echartNameQuery').val(),
      "sortName": sortName,
      "sortOrder": params.sortOrder
    };

    return paramMap;
  }

  function operateFormatter(value, row, index) {
    return [
      "<a class='btn btn-primary' href=\"javascript:detailVisualizeEchart('" + row.id + "')\" " +
      "title='查看详情'>查看详情</a>",
      "<a class='btn btn-success' href=\"javascript:editVisualizeEchart('" + row.id + "')\" title='修改'>修改</a>",
      "<a class='btn btn-danger' href=\"javascript:delVisualizeEchart('" + row.id + "')\" title='删除'>删除</a>"
    ].join('');
  }

  $table.bootstrapTable('resetView', {
    height: getHeight()
  });

  $(window).resize(function() {
    $table.bootstrapTable('resetView', {
      height: getHeight()
    });
  });

  function getHeight() {
    return $(window).height() - 195;
  }

  /*]]>*/
</script>
</body>
</html>