<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>图表统计</title>
  <!--基础样式-->
  <th:block th:include="common/pub_head :: default"></th:block>
  <th:block th:include="common/pub_head :: base-css"></th:block>
  <!--主题色-->
  <th:block th:include="common/pub_head :: theme-blue"></th:block>

  <link type="text/css" rel="stylesheet" th:href="@{/assets/font/log/iconfont.css}"/>
  <style>
    .bor_view {
      height: 400px
    }

    .table_show th,tr {
      text-align: center;
    }

    .echart_view {
      border: 1px solid #ddd;
      width: 434px;
      height: 190px;
      padding: 8px;
    }
  </style>
</head>

<body>
<div class="wrapper-content">
  <div class="box">
    <div class="box-header with-border">
      <div class="box-title dec_1 theme-border-left">图表统计<i class='iconfont slice33'></i></div>
    </div>
    <div class="box-body">
      <div class="input-group fl col-xs-7" style="margin-top:0px; positon:relative">
        <input type="text" id="echartNameQuery" class="form-control" placeholder="请输入面板名称"/>
        <span class="input-group-btn">
           <button class="btn btn-info btn-search" onclick="$('#table').bootstrapTable('refresh')">
             <i class="iconfont icon-sousuo"></i>查找</button>
        </span>
      </div>
      <!-- 表格 -->
      <div class="fr mt15 mb10">
        <button type="button" class="btn btn-primary" data-toggle="modal" onclick="addVisualizePanelEchart()"
                id="add_btn">
          <span class="glyphicon glyphicon-plus"></span>
          添加
        </button>
        <button type="button" class="btn btn-danger" onclick="batchDelVisualizeEchart()">
          <span class="glyphicon glyphicon-remove"></span>
          删除
        </button>
      </div>
      <table id="table"></table>
    </div>
  </div>
</div>

<!-- 模态框 -->
<div class="modal fade" id="Modal_view" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5 class="modal-title" id="myModalLabel">添加面板</h5>
      </div>
      <div class="modal-body " style="min-height: 300px;">
        <form role="form" class="form-horizontal row">
          <div class="row">
            <div class="form-group">
              <label for="firstname" class="col-sm-3 control-label">
                面板名称:</label>
              <div class="col-sm-7">
                <input type="text" class="form-control input-sm" id="firstname" placeholder="请输入名字">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="mb10 red-tip">
              请选择面板要显示的图表(每选择一个，便会在下方显示出对应的图表统计图)--默认每页4条
              <div id="pagination-ele" style="position: absolute;top: 2px;right: 10px;"></div>
            </div>
            <div style="height: 135px;border: 1px solid #ddd;border-radius: 4px">
              <table border="1" class="table_show" id="tableShow">
                <thead>
                <tr>
                  <th style="width: 50px"></th>
                  <th data-field="echartName">图表名称</th>
                  <th data-field="multiIndex">所属项目</th>
                  <th data-field="typePo" style="width: 100px;">图表类型</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
          <!-- 图表显示 -->
          <div class="row">
            <div class="col-md-6" style="padding: 0px;margin: 0px">
              <div class="echart_view"></div>
            </div>
            <div class="col-md-6" style="padding: 0px;margin: 0px">
              <div class="echart_view"></div>
            </div>
            <div class="col-md-6" style="padding: 0px;margin: 0px">
              <div class="echart_view"></div>
            </div>
            <div class="col-md-6" style="padding: 0px;margin: 0px">
              <div class="echart_view"></div>
            </div>
          </div>
        </form>
        <!--  -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="btn_ok">保存</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div><!-- /.modal -->
<!-- 详情弹出框 -->
<div class="info_content" id="info_content" style="display: none">
  <div class="row">
    <div class="col-sm-6">
      <div class="info_block">
        <p class="info_text">统计图表名称：</p>
        <div id="show_info_line" class="show_info"></div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="info_block">
        <p class="info_text">统计图表名称：</p>
        <div id="show_info_pie" class="show_info"></div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="info_block">
        <p class="info_text">统计图表名称：</p>
        <div id="show_info_bar" class="show_info"></div>
      </div>
    </div>
  </div>
</div>
<th:block th:include="common/pub_head :: echart"></th:block>
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/page_data.css}"/>
<script type="text/javascript" th:src="@{/assets/js/echart.config.js}"></script>
<script>
  /*<![CDATA[*/
  jQuery(function () {

  });
  /*]]>*/
</script>
<script>
  /*<![CDATA[*/
  var options = {
    containerClass: "pagination",
    currentPage: 1,
    numberOfPages: 6,
    totalPages: 5,
    prev: "上一页",
    next: "下一页",
    itemTexts: function (type, page, current) {
      switch (type) {
        case "first":
          return "首页";
        case "prev":
          return "上一页";
        case "next":
          return "下一页";
        case "last":
          return "尾页";
        case "page":
          return page;
      }
    },
    pageUrl: function (type, page) {
      return null;
    },
    onPageClicked: function (event, originalEvent, type, page) {
      options.currentPage = page;
      pageSelectEchart();
    },
    onPageChanged: function () {
      // console.log("onPageChanged");
    }
  };
  $("#pagination-ele").bootstrapPaginator(options);

  function pageSelectEchart() {
    var URL = path + "/echartManage/pageSelectEchart";
    var echartName = $("#echartName").val();
    var formData = {
      "pn": options.currentPage,
      "echartName": echartName
    };

    $.post(URL, formData, function (jsonData) {
      options.totalPages = jsonData.totalPages;
      options.currentPage = jsonData.currentPage;

      var list = jsonData.source;
      var domEle = "";
      var keyArr = $("#tableShow").find("th").map(function () {
        return $(this).attr("data-field")
      }).get();

      var domEle = "";
      for (var i = 0; i < list.length; i++) {
        domEle += "<tr>";
        domEle += "<td><input type='checkbox' value='" + list[i].id + "'></td>"
        for (var j = 0; j < keyArr.length; j++) {
          domEle += "<td>" + list[i][keyArr[j]] + "</td>";
        }
        domEle += "</tr>";
      }

      $("#tableShow").find("tbody").html(domEle);
    }, "json");
  }

  /*]]>*/
</script>
<script>
  /*<![CDATA[*/
  var myModalClone = $("#Modal_view").clone();

  function addVisualizePanelEchart() {
    $("#Modal_view").html(myModalClone.html());
    pageSelectEchart();
    initEchart();
    $('#Modal_view').modal('show');

    $(".modal-btn").hide();
    $("#saveBtn").show();
  }

  var echartArr = [];
  var flag = 0;
  function initEchart() {
    $(".echart_view").each(function (index, domEle) {
      var echart = echarts.init($(this).get(0));
      echart.setOption({});
      echartArr.push(echart);
      $(domEle).attr("data-flag", flag);
      $(domEle).attr("data-sort", index);
    });
  }

  function getEchartView() {
    var index = [];
    $(".echart_view").each(function (i, domEle) {
      if ($(this).attr("data-flag") == flag) {
        index.push(i);
      }
    });

    if (index.length > 0) {
      return $(".echart_view").eq(index[0]);
    } else {
      // 进入下一轮循环
      flag = (flag + 1) % 2;
      return $(".echart_view").eq(0);
    }

    return null;
  }

  function detailVisualizeEchart(id) {
    var URL = path + "/echartManage/detailVisualizeEchart/" + id;
    var formData = {};

    var echartDom = getEchartView();
    if (echartDom != null) {
      $.post(URL, formData, function (jsonData) {
        var type = jsonData.visualizeChartBean.type;

        var index = $(echartDom).attr("data-sort");
        $(echartDom).attr("data-flag", "1");
        $(echartDom).attr("data-id", jsonData.visualizeChartBean.id);
        echartArr[index].dispose();
        echartArr[index] = echarts.init($(echartDom).get(0));
        if (type == "1") {
          optionLine.xAxis.data = jsonData.echartMap.xAxisDataList;
          optionLine.title.text = jsonData.visualizeChartBean.multiIndex;
          optionLine.series[0].name = jsonData.visualizeChartBean.field;
          optionLine.series[0].data = jsonData.echartMap.seriesDataList;

          echartArr[index].setOption(optionLine);
        } else if (type == "2") {
          optionBar.xAxis.data = jsonData.echartMap.xAxisDataList;
          optionBar.title.text = jsonData.visualizeChartBean.multiIndex;
          optionBar.series[0].name = jsonData.visualizeChartBean.field;
          optionBar.series[0].data = jsonData.echartMap.seriesDataList;

          echartArr[index].setOption(optionBar);
        } else if (type == "3") {
          optionPie.title.text = jsonData.visualizeChartBean.multiIndex;
          optionPie.series[0].name = jsonData.visualizeChartBean.field;
          optionPie.series[0].data = jsonData.echartMap.pieSeriesDataList;

          echartArr[index].setOption(optionPie);
        }

      });
    }
  }

  $(document).on("click", ".table_show input[type=checkbox]", function () {
    var selectedFlag = $(this).prop("checked");
    var id = $(this).val();

    if (selectedFlag) {
      detailVisualizeEchart(id);
    } else {
      var index = 0;
      $(".echart_view").each(function(i, domEle) {
        if ($(domEle).attr("data-id") == id) {
          index = i;
        }
      });

      echartArr[index].dispose();
      echartArr[index] = echarts.init($(".echart_view").eq(index).get(0));
      echartArr[index].setOption({});
      $(".echart_view").eq(index).attr("data-flag", flag);
      $(".echart_view").eq(index).attr("data-id", -1);
    }
  });
  /*]]>*/
</script>

<script>
  /*<![CDATA[*/
  var $table = $('#table');
  $table.bootstrapTable({
    classes: 'table table-hover table-condensed table-bordered table-responsive',
    contentType: "application/x-www-form-urlencoded",
    height: getHeight(),
    url: path + "/echartManage/pageVisualizePanelEchart",
    striped: true, //隔行变色
    pagination: true,
    singleSelect: false,
    queryParamsType: '',
    queryParams: queryParams,
    sidePagination: "server",//表格分页的位置
    pageNumber: 1,
    pageSize: 10,
    pageList: [10, 20, 50, 100],
    onLoadSuccess: function () {
      $(".bs-checkbox").css({"text-align": "center", "vertical-align": "middle"});
    },
    columns: [{
      checkbox: true,
      width: 50
    }, {
      field: 'id',
      width: 100,
      title: '编号',
      halign: 'center',
      align: 'center',
      valign: 'middle'
    }, {
      field: 'panelName',
      title: '图表名称',
      halign: 'center',
      align: 'center',
      valign: 'middle',
      sortable: true
    }, {
      width: 300,
      field: 'operate',
      title: '操作',
      halign: 'center',
      align: 'center',
      valign: 'middle',
      formatter: operateFormatter
    }
    ]
  });

  function queryParams(params) {
    var sortName = (params.sortName) ? params.sortName.replace(/([A-Z])/g, "_$1").toLowerCase() : "";
    if (sortName == "type_po") {
      sortName = "type";
    }
    var paramMap = {
      "pageSize": params.pageSize,
      "pn": params.pageNumber,
      "echartName": $('#echartNameQuery').val(),
      "sortName": sortName,
      "sortOrder": params.sortOrder
    };

    return paramMap;
  }

  function operateFormatter(value, row, index) {
    return [
      "<a class='btn btn-primary' href=\"javascript:detailVisualizeEchart('" + row.id + "')\" " +
      "title='查看详情'>查看详情</a>",
      "<a class='btn btn-success' href=\"javascript:editVisualizeEchart('" + row.id + "')\" title='修改'>修改</a>",
      "<a class='btn btn-danger' href=\"javascript:delVisualizeEchart('" + row.id + "')\" title='删除'>删除</a>"
    ].join('');
  }

  $(window).resize(function () {
    $table.bootstrapTable('resetView', {
      height: getHeight()
    });
  });

  function getHeight() {
    return $(window).height() - 160;
  }

  /*]]>*/
</script>
<script>
  /*<![CDATA[*/
  var optionLine = {
    title: {
      text: '折线图'
    },
    grid: {
      y: 30,
      y2: 30
    },
    tooltip: {
      trigger: 'axis'
    },
    xAxis: {
      boundaryGap: false,
      data: ["A", "B", "C", "D", "E", "F"],
      axisLabel: {
        show: true,
        formatter: function (val) {
          return val.split(" ").join("\n")
        }
      }

    },
    yAxis: {},
    series: [{
      name: '记录',
      type: 'line',
      data: [5, 20, 36, 10, 10, 20]
    }]
  };
  var optionBar = {
    title: {
      text: '柱状图'
    },
    grid: {
      x: 30,
      x2: 30,
      y: 40,
      y2: 30
    },
    tooltip: {
      trigger: 'axis'
    },
    xAxis: {
      data: ["A", "B", "C", "D", "E", "F"]
    },
    yAxis: {},
    series: [{
      name: '记录',
      type: 'bar',
      barMaxWidth: 30,
      data: [5, 20, 36, 10, 10, 20]
    }]
  };
  var optionPie = {
    title: {
      text: '饼状图'
    },
    tooltip: {
      formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    series: [
      {
        name: '记录',
        type: 'pie',
        center: ['50%', '50%'],
        data: [
          {value: 5, name: 'A'},
          {value: 20, name: 'B'},
          {value: 36, name: 'C'},
          {value: 10, name: 'D'},
          {value: 10, name: 'E'},
          {value: 20, name: 'F'}
        ]
      }
    ]
  };
  /*]]>*/
</script>
</body>
</html>