<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>索引管理页面</title>
  <!--基础样式-->
  <th:block th:include="common/pub_head :: default"></th:block>
  <th:block th:include="common/pub_head :: base-css"></th:block>
  <!--主题色-->
  <th:block th:include="common/pub_head :: theme-blue"></th:block>
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/mage.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/base/rewrite.css}"/>
  <style>
    .deal {
      margin-left: 30px;
    }

    .th-inner {
      text-align: center;
    }

    .option-item {
      padding: 10px 15px;
    }

    .green {
      color: lawngreen;
    }

    .selector {
      height: 100px;
      top: 50%;
      margin-top: -50px;
      position: absolute;
    }

    .modal-div label {
      font-size: 15px;
      padding: 4px 5px;
    }

    .manage ul li:hover .li-close {
      display: block;
    }

    .li-close {
      display: none;
      color: black;
      float: right;
      position: relative;
      top: 15px;
      right: 3px;
    }
  </style>
</head>

<body>
<div class="wrapper-content">
  <div class="box">
    <div class="wrapper-content-all">
      <div class="box-header with-border">
        <div class="box-title dec_1 theme-border-left">索引管理</div>
      </div>
      <div class="box-body">
        <!-- 按钮 -->
        <div class="col-md-4 mt15 manage">
          <button type="button" class="btn btn-primary btn-add-label mb-20" onclick="saveModal()">
            <span class="glyphicon glyphicon-plus"></span>
            添加索引
          </button>
          <div>
            <span class="list-group-item tab">
                <a href="javascript:void(0);">
                  <i class="iconfont icon-down"></i>
                </a>
                <span class="deal">组合索引</span>
            </span>
            <ul class="list-group ul-top" style="max-height: 198px;overflow-y: auto;overflow-x: hidden">
              <th:block th:each="multiIndexBean : ${multiIndexList}">
                <li class="list-group-item">
                  <a href="javascript:void(0)" class="deal" th:text="${multiIndexBean.multiIndex}"
                     th:attr="data-flag=${multiIndexBean.flag}"></a>
                  <i class="glyphicon glyphicon-remove li-close"
                     th:attr="data-multiIdex=${multiIndexBean.multiIndex}"
                     onclick="delMultiIndex(this)"></i>
                </li>
              </th:block>
            </ul>
          </div>
          <div>
            <span class="list-group-item tab">
                <a href="javascript:void(0);">
                  <i class="iconfont icon-down"></i>
                </a>
                <span class="deal">Elasticsearch索引</span>
            </span>
            <ul class="list-group" style="max-height: 198px;overflow-y: auto;overflow-x: hidden">
              <th:block th:each="index : ${indexList}">
                <li class="list-group-item">
                  <a href="javascript:void(0)" class="deal" th:text="${index}"
                     data-flag="0"></a></li>
              </th:block>
            </ul>
          </div>
        </div>

        <!-- 弹框 -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
          <div class="modal-dialog" style="height: 570px; width: 650px">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                  添加索引
                </h4>
                <div class="form-horizontal" style="position: absolute;top: 15px; left: 420px">
                  <div class="form-group">
                    <div style="position: absolute;top: 8px; left: 0px"><b class="mr5 red500" id="existFlag">*</b>
                    </div>
                    <div class="block-cont col-md-12">
                      <input type="text" class="form-control" id="multiIndex" onkeyup="throttle(hasExist)"
                             placeholder="请输入组合索引名称">
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-body" style="min-height: 450px;">
                <div class="col-md-6">
                  <div class="input-group col-md-11">
                    <label style="margin-bottom: 5px">Elasticsearch索引：</label>
                    <input type="text" style="margin-bottom: 5px" name="" id="txt" class="form-control"
                           onkeyup="throttle(selectOption(this, 'left'))"/>
                  </div>
                  <div class="col-md-11" style="padding:0;border-left: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;border-radius: 3px">
                    <select style="height: 350px;width: 258px;" id="left" multiple="multiple">
                      <th:block th:each="index : ${indexList}">
                        <option class="list-group-item option-item"
                                th:value="${index}"
                                th:text="${index}"></option>
                      </th:block>
                    </select>
                  </div>
                </div>

                <div style="position: absolute;top: 170px;left: 306px;">
                  <a href="javaScript:toSelRight()" style="font-size: 22px;color: #6c6c6c;">≥</a>
                  <br/><br/><br/><br/>
                  <a href="javaScript:toSelLeft()" style="font-size: 22px;color: #6c6c6c;">≤</a>
                </div>

                <div class="col-md-6">
                  <div class="input-group col-md-11">
                    <label style="margin-bottom: 5px">已选索引：</label>
                    <input type="text" style="margin-bottom: 5px" name="" class="form-control"
                           onkeyup="throttle(selectOption(this, 'right'))"/>
                  </div>
                  <div class="col-md-11" style="padding:0;border-left: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;border-radius: 3px">
                    <select style="height: 350px;width: 258px;" id="right" multiple="multiple">
                    </select>
                  </div>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="saveMultiIndex()">保存</button>
              </div>
            </div>
          </div>
        </div>
        <!-- 表格 -->
        <div class="col-md-8">
          <div class="cf mb-20">
            <div class="mt15 fl">
              <h4 style="margin:0">索引名称：<span id="name_info" class="bold-reset blue-color"></span></h4>
            </div>
            <div class="mt15 fr">
              <button type="button" class="btn btn-info" onclick="test()">
                <span class="glyphicon glyphicon-star"></span>
                收藏
              </button>
              <button type="button" class="btn btn-danger" id="remove_info">
                <span class="glyphicon glyphicon-remove"></span>
                删除
              </button>

              <button type="button" class="btn btn-info" onclick="location.reload();">
                <span class="glyphicon glyphicon-refresh"></span>
                刷新
              </button>
            </div>
          </div>
          <table id="table" class="table table-bordered">
            <thead>
            <tr>
              <th data-field="index">索引名称</th>
              <th data-field="field">字段列名</th>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="indexInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
        <h4 class="modal-title">提示信息</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="delMultiRelIndex" onclick="delMultiRelIndex(this)">是</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">否</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<script th:inline="javascript">
  /*<![CDATA[*/
  function delMultiIndex(thisObj) {
    event.stopPropagation();

    var multiIndex = $(thisObj).attr("data-multiIdex");
    layer.confirm("确定要删除索引：" + multiIndex + " 吗？",function(){
      layer.msg('删除成功！', {icon: 1, time: 1000});
    });
  }

  function throttle(method) {
    clearTimeout(method.tId);
    method.tId = setTimeout(function () {
      method.call();
    }, 200);
  }

  var myModalClone = $("#myModal").clone();
  function saveModal() {
    $("#myModal").html(myModalClone.html());
    $('#myModal').modal('show').css({
      width: 'auto',
      'margin-left': 'auto'
    });

  }

  function hasExist() {
    var multiIndex = $("#multiIndex").val();
    var formData = {
      "multiIndex": multiIndex
    };

    var URL = "/logmonitor/hasExist";

    if (multiIndex.split(" ").join("") == "") {
      $("#existFlag").html("*");
      $("#existFlag").attr("class", "mr5 red500");
    } else {
      $.post(URL, formData, function (jsonData) {
        var flag = jsonData.flag;

        if (flag) {
          $("#existFlag").html("");
          $("#existFlag").attr("class", "mr5 glyphicon glyphicon-remove red500");
        } else {
          $("#existFlag").html("");
          $("#existFlag").attr("class", "mr5 glyphicon glyphicon-ok green");
        }
      }, "json");
    }
  }

  function listReflectField(initFlag) {
    var index = $("#name_info").html();
    var flag = $("#name_info").attr("data-flag");

    // index为空，即索引不存在，无需向服务器发送请求
    if (index == "") {
      return;
    }
    var URL = "/logmonitor/listReflectField"
      + "?index=" + index
      + "&flag=" + flag;

    var opt = {
      url: URL,
      pagination: true,
      pageSize: 10,
      pageList: [5, 10, 15, 20],
      onLoadSuccess: function () {
        mergeColumn("table", 0);
      },
      onLoadError: function (data) {
        $("#table").bootstrapTable('removeAll');

        var index = $("#name_info").html();
        var flag = $("#name_info").attr("data-flag");
        var URL = "/logmonitor/dealNotIndex";
        var formData = {
          "index": index,
          "flag": flag
        };

        $.post(URL, formData, function (jsonData) {
          var flag = jsonData.flag;

          if (!flag) {
            var content = "<div class='modal-div'>";
            content += "<label>" + jsonData.errorMsg + "</label><br />";
            content += "<label>映射索引：[" + jsonData.indexList + "]</label><br />";
            content += "<label>不存在索引：[" + jsonData.notExistList + "]</label><br />";
            content += "<label>是否删除不存在的映射索引？</label></div>";

            $("#delMultiRelIndex").attr("data-index", jsonData.notExistList);

            $("#indexInfoModal .modal-body").html(content);

            $('#indexInfoModal').modal('show').css({
              width: 'auto',
              'margin-left': 'auto'
            });
          }
        }, "json");
      },
      onPageChange: function () {
        mergeColumn("table", 0);
      }
    };

    if (initFlag) {
      $("#table").bootstrapTable(opt);
    } else {
      $("#table").bootstrapTable("refresh", opt);
    }
  }

  function delMultiRelIndex(thisObj) {
    var index = $(thisObj).attr("data-index");
    var URL = "/logmonitor/delMultiRelIndex";
    var formData = {
      "index": index
    };

    $.post(URL, formData, function (jsonData) {
      var flag = jsonData.flag;

      if (flag) {
        layer.msg('删除成功！', {icon: 1, time: 1000});

        $("#indexInfoModal").modal("hide");
        $(".manage li.active").click();
      } else {
        layer.msg('删除失败！', {icon: 2, time: 1000});
      }
    }, "json");
  }

  $(document).on("click", ".tab", function () {
    var clazz = $(this).find(".iconfont").attr("class");
    if (clazz.indexOf("icon-down") != -1) {
      $(this).find(".iconfont").removeClass("icon-down").addClass("icon-up");
    } else {
      $(this).find(".iconfont").removeClass("icon-up").addClass("icon-down");
    }
    $(this).next().find("li").toggleClass("hide");
  });
  $(document).on("click", ".manage ul li", function () {
    $(".manage ul li").removeClass("active");
    $(this).addClass("active");
    $("#name_info").html($(this).find("a").html());
    $("#name_info").attr("data-flag", $(this).find("a").attr("data-flag"));

    listReflectField(false);
  });

  // //模糊匹配，将所有匹配项显示
  function selectOption(thisObj, target) {
    var txt = $(thisObj).val();

    $("#" + target + " option").show();

    if (txt == "") {
      return;
    }

    for (var i = 0; i < $("#" + target + " option").length; i++) {
      //模糊匹配，将所有匹配项显示
      if ($("#" + target + " option").eq(i).text().substr(0, txt.length) != txt) {
        $("#" + target + " option").eq(i).hide();
      }
    }
  }

  $("#left").on("dblclick", "option", function () {
    toRight(this);
  });
  $("#right").on("dblclick", "option", function () {
    toLeft(this);
  });

  function toRight(thisObj) {
    var domEle = "<option class='list-group-item option-item'" +
      +"value='" + $(thisObj).val() + "'>"
      + $(thisObj).html() + "</option>";
    $("#right").html(domEle + $("#right").html());
    $(thisObj).remove();
  }

  function toLeft(thisObj) {
    var domEle = "<option class='list-group-item option-item'" +
      +"value='" + $(thisObj).val() + "'>"
      + $(thisObj).html() + "</option>";
    $("#left").html(domEle + $("#left").html());
    $(thisObj).remove();
  }

  function toSelRight() {
    $("#left").find("option:selected").each(function () {
      toRight(this);
    });
  }

  function toSelLeft() {
    $("#right").find("option:selected").each(function () {
      toLeft(this);
    });
  }

  /*]]>*/
</script>

<script th:inline="javascript">
  /*<![CDATA[*/
  //弹出框，input框字符匹配
  $("#txt").keyup(function () {
    if ($("#txt").val().length <= 0) {
      $("#listCell li").css('background-color', '#fff');
      return;
    }
    for (var i = 0; i < $("#listCell li").length; i++) {
      //模糊匹配，将所有匹配项显示
      if ($("#listCell li").eq(i).text().substr(0, $("#txt").val().length) == $("#txt").val()) {
        $("#listCell li").eq(i).css('background-color', '#ccc');
      }
    }
  });
  $("#listCell li").click(function () {
    $("#txt").val($(this).text());
  });

  function saveMultiIndex() {
    var clazz = $("#multiIndex").val();
    var multiIndex = $("#multiIndex").val();
    if (clazz.indexOf("red500") != -1) {
      layer.msg('组合索引已经存在！', {icon: 2, time: 1000});

      return;
    }
    if (multiIndex.split(" ").join("") == "") {
      layer.msg('组合索引不能为空！', {icon: 2, time: 1000});

      return;
    }

    var index = $("#right option").map(function () {
      return $(this).html();
    }).get();

    var URL = "/logmonitor/saveMultiIndex";
    var formData = {
      "multiIndex": multiIndex,
      "index": index + ""
    };

    $.post(URL, formData, function (jsonData) {
      var flag = jsonData.flag;

      if (flag) {
        layer.msg('保存成功！', {icon: 1, time: 1000});

        $(".manage li").removeClass("active");
        appendMultiIndex(multiIndex);
        $(".manage li.active").parent().scrollTop(9999);
        $("#myModal").modal("hide");
        $(".manage li.active").click();
      } else {
        layer.msg("保存失败，" + jsonData.errorMsg, {icon: 2, time: 1000});
      }
    }, "json");
  }

  function appendMultiIndex(multiIndex) {
    var domEle = "";
    domEle += "<li class='list-group-item active'>";
    domEle += "  <a href='javascript:void(0)' class='deal' data-flag='1'>" + multiIndex + "</a>";
    domEle += "  <i class='glyphicon glyphicon-remove li-close' data-multiIdex='" + multiIndex + "'";
    domEle += "     onclick='delMultiIndex(this)'></i>";
    domEle += " </li>";

    $(".manage ul:eq(0)").append(domEle);
  }

  function test() {
    var layerIndex = layer.open({
      type: 1,
      title: '新增',
      area: ['450px', '340px'], //宽高
      shadeClose: true,
      content: "内容",
      btn: ['添加', '取消'],
      yes: function (index, layero) {
        $("#add1_form").submit();
      },
      bnt2: function (index, layero) {
        layer.close(index);
      }
    });
  }

  //选中索引
  $(document).on("click", "#list_info li a", function () {
    $(this).parent().addClass("active").siblings().removeClass("active");
    act();
  });

  function act() {
    var text_info = $(".manage ul li.active a").text();
    var flag = $(".manage ul li.active a").attr("data-flag");
    // alert(text_info)
    $("#name_info").text(text_info);
    $("#name_info").attr("data-flag", flag);
  }

  //索引删除
  $(function () {
    $(".manage ul li").eq(0).addClass("active");
    act();
    $("#remove_info").on("click", function () {
      $("#list_info li.active").remove();
      $("#list_info li:first-child").addClass("active");
      act();
    });

    listReflectField(true);
  });

  function mergeColumn(tbodyId, columnNum) {
    if ($("#" + tbodyId + " tbody tr").length > 0) {
      var tdStrCur = "";
      var countCur = 0;
      var countNext = 0;
      var flag = false;
      var objCur;
      var objNext;
      $("#" + tbodyId + " tr").each(function () {
        if ($(this).find("td").eq(columnNum).text() != tdStrCur) {
          tdStrCur = $(this).find("td").eq(columnNum).text();
          countCur = 1;
          flag = true;
          objCur = $(this).find("td").eq(columnNum);
        } else if (objCur) {
          if ($(this).find("td").eq(columnNum).text() != "") {
            $(this).find("td").eq(columnNum).remove();
            countCur++;
            flag = false;
            objNext = objCur;
            countNext = countCur;
          }
        }
        if (flag && countCur != 1) {
          objNext.attr("rowspan", countNext);
        } else {
          if (objCur) {
            objCur.attr("rowspan", countCur);
            objCur.attr("style", "vertical-align: middle;text-align: center");
          }
        }
      });
      if (objCur) {
        objCur.attr("rowspan", countCur);
        objCur.attr("style", "vertical-align: middle;text-align: center");
      }
    }
  }

  /*$(".manage ul:eq(0) li").hover(function () {
    $(this).find("i").show();
  })*/
  /*]]>*/
</script>
</body>

</html>